.header {
	.navbar-toggler-wrapper {
		@media (min-width: 992px) {
            display: none;
		}
        @media (max-width: 991px) {
            order: 1;
        }
        .navbar-toggler {
            border: 2px solid white;
        }
	}
    .menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media(max-width: 991px) {
            order: 4;
            justify-content: flex-start;
        }
    }
    .menu {
        .navbar-expand-lg {
            .navbar-nav {
                .nav-item {
                    &.active {
                        .nav-link {
                            color: $red;
                        }
                    }
                }
                .nav-link {
                    color: white;
                    font-size: 1.5rem;
                    line-height: 1;
                    text-transform: uppercase;
                    font-family: "Bebas Neue", sans-serif;
                    padding: 0 17px;
                    transition: 0.3s ease;
                    @media (max-width: 1199px) {
                        padding: 0 10px;
                    }
                    &:hover,
                    &:focus {
                        box-shadow: none;
                        color: $red;
                        transition: 0.3s ease;
                    }
                }
            }
        }
    }
    .header-links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media(max-width: 991px) {
            order: 2;
            justify-content: center;
        }
        .bar-link {
            background-color: $red;
            color: white;
            font-size: 1.5rem;
            line-height: 1;
            text-transform: uppercase;
            font-family: "Bebas Neue", sans-serif;
            padding: 12px 51px;
            margin-left: 17px;
            margin-right: 17px;
            transition: 0.3s ease;
            @media (max-width: 1199px) {
                padding: 10px 35px;
            }
            &:hover {
                transition: 0.3s ease;
                background-color: white;
                color: $red;
            }
        }
        .social {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            .social-item {
                margin-left: 17px;
                margin-right: 17px;
                transition: 0.3s ease;
                @media (max-width: 1199px) {
                    margin-left: 10px;
                    margin-right: 10px;
                }
                &:hover {
                    transition: 0.3s ease;
                    opacity: 0.7;
                }
            }
        }
    }
}
