.news {
    background-color: $red;
    padding-top: 100px;
    padding-bottom: 180px;
    @media (max-width: 1920px) {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    @media (max-width: 1499px) {
        padding-bottom: 50px;
    }
    @media (max-width: 1199px) {
        padding-top: 30px;
    }
    @media (max-width: 575px) {
        padding-bottom: 30px;
    }
    .basic-title {
        color: white;
        margin-bottom: 0;
        line-height: 1;
    }
    .title-wrapper {
        margin-bottom: 50px;
        @media (max-width: 1699px) {
            margin-bottom: 30px;
        }
        @media (max-width: 1199px) {
            margin-bottom: 25px;
        }
        .basic-link {
            color: white;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 1;
            font-family: "Bebas Neue", sans-serif;
            @media (max-width: 575px) {
                font-size: 1.3rem;
            }
            @media (max-width: 499px) {
                font-size: 1.2rem;
                margin-bottom: 3px;
            }
        }
    }
}

.news-list {
    .news-item-pic {
        margin-bottom: 25px;
        @media (max-width: 1399px) {
            margin-bottom: 12px;
        }
        @media (max-width: 575px) {
            margin-bottom: 0;
        }
    }
    .news-item {
        @media (max-width: 1199px) {
            margin-bottom: 25px;
        }
        @media (max-width: 575px) {
            margin-bottom: 20px;
        }
        .content {
            @media (max-width: 575px) {
                display: flex;
                align-items: flex-start;
            }
            .news-item-pic {
                @media (max-width: 575px) {
                    width: 50%;
                    max-width: 50%;
                }
            }
        }
        .news-item-title-wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            color: white;
            @media (max-width: 575px) {
                display: flex;
                align-items: flex-start;
                flex-direction: column-reverse;
                width: 50%;
                max-width: 50%;
                padding-left: 15px;
            }
            @media (max-width: 449px) {
                padding-left: 10px;
            }
            .news-item-title {
                flex-grow: 0;
                flex-shrink: 1;
                a {
                    display: inline-block;
                    padding-right: 20px;
                    color: inherit;
                    transition: 0.3s ease;
                    @media (max-width: 1399px) {
                        font-size: 1.3rem;
                        padding-right: 10px;
                    }
                    @media (max-width: 575px) {
                        padding-right: 0;
                    }
                    @media (max-width: 399px) {
                        font-size: 1.2rem;
                    }
                    &:hover {
                        transition: 0.3s ease;
                        opacity: 0.8;
                    }
                }

            }
            .news-item-date {
                flex-grow: 1;
                flex-shrink: 0;
                @media (max-width: 575px) {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.news-page-wrapper {
    padding-top: 0;
    background-color: rgba(255, 255, 255, 0);
    .basic-title {
        margin-bottom: 0;
        color: black;
    }
    .news-item {
        color: black;
        margin-bottom: 40px;
        @media (max-width: 1699px) {
            margin-bottom: 20px;
        }
        .news-item-title-wrapper {
            color: black;
            @media (max-width: 575px) {
                width: 100%;
                max-width: 100%;
                padding-left: 0;
                flex-direction: row;
                justify-content: space-between;
            }
            .news-item-title  {
                @media (max-width: 575px) {
                    margin-bottom: 0;
                    padding-right: 5px;
                }
            }
            .news-item-date {
                @media (max-width: 575px) {
                    margin-bottom: 0;
                    text-align: right;
                }
            }
        }
        .content {
            @media (max-width: 575px) {
                display: block;
            }
            &:hover {
                .news-item-title a {
                    transition: 0.3s ease;
                }
                .news-item-pic a {
                    img {
                        box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.15);
                        transition: 0.3s ease;
                    }
                }
            }
            .news-item-title {
                a {
                    transition: 0.3s ease;
                }
                a:hover {
                    color: $red;
                    transition: 0.3s ease;
                }
            }
            .news-item-pic {
                @media (max-width: 1699px) {
                    margin-bottom: 15px;
                }
                @media (max-width: 575px) {
                    width: 100%;
                    max-width: 100%;
                }
                > a {
                    img {
                        transition: 0.3s ease;
                    }
                }
                > a:hover {
                    img {
                        box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.15);
                        transition: 0.3s ease;
                    }
                }
                img {
                    @media (max-width: 575px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}