.top-beer  {
    padding-top: 100px;
    padding-bottom: 180px;
    overflow: hidden;
    @media (max-width: 1920px) {
        padding-top: 100px;
        padding-bottom: 150px;
    }
    @media (max-width: 1699px) {
        padding-top: 80px;
        padding-bottom: 70px;
    }
    @media (max-width: 991px) {
        padding-top: 50px;
        padding-bottom: 75px;
    }
    @media (max-width: 575px) {
        padding-bottom: 50px;
    }
    .top-beer-list {
        position: relative;
    }
    .top-beer-swiper {
        padding: 50px 15px;
        @media (max-width: 1920px) {
            padding-top: 40px;
        }
        @media (max-width: 1699px) {
            padding-top: 25px;
        }
        @media (max-width: 767px) {
            padding-left: 0;
            padding-right: 0;
        }
        @media (max-width: 575px) {
            padding-top: 20px;
            padding-bottom: 35px;
        }
        .swiper-slide {
            position: relative;
            &::after {
                content: '';
                display: block;
                padding-top: 100%;
            }
            .content {
                position: absolute;
                background-color: black;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                transition: 0.3s ease;
                &:hover {
                    transition: 0.3s ease;
                    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.18);
                    @media (max-width: 575px) {
                        box-shadow: unset;
                    }
                    .top-beer-title-wrapper {
                        transform: translateY(0);
                        opacity: 1;
                        transition: 0.3s ease;
                    }
                }
                .top-beer-title-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding-bottom: 28px;
                    height: 39%;
                    z-index: 3;
                    opacity: 0;
                    transform: translateY(100%);
                    transition: 0.3s ease;
                    @media (max-width: 1920px) {
                        padding-bottom: 25px;
                        height: 30%;
                    }
                    @media (max-width: 1499px) {
                        padding-bottom: 20px;
                        height: 27%;
                    }
                    @media (max-width: 1199px) {
                        padding-bottom: 17px;
                        height: 25%;
                    }
                    @media (max-width: 991px) {
                        padding-bottom: 13px;
                    }
                    @media (max-width: 767px) {
                        opacity: 1;
                        transform: translateY(0);
                    }
                    @media (max-width: 575px) {
                        padding-bottom: 8px;
                        height: 28%;
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        right: 0;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
                    }
                    .top-beer-title {
                        color: white;
                        text-align: center;
                        font-family: "Bebas Neue", sans-serif;
                        font-size: 2rem;
                        line-height: 1;
                        position: relative;
                        z-index: 2;
                        @media (max-width: 1499px) {
                            font-size: 1.8rem;
                        }
                        @media (max-width: 991px) {
                            font-size: 1.6rem;
                        }
                        @media (max-width: 575px) {
                            font-size: 1.4rem;
                        }
                        > a {
                            color: white;
                        }
                    }
                }
                .stretched-link {
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 0;
                    color: rgba(255, 255, 255, 0);
                    line-height: 0;
                }
            }
        }
    }
    .top-beer-swiper-button-prev,
    .top-beer-swiper-button-next {
        &::after {
            color: black;
            font-size: 1.5rem;
        }
    }
    .top-beer-swiper-button-prev {
        left: -60px;
        @media (max-width: 1199px) {
            left: -20px;
            top: 45%;
        }
        @media (max-width: 767px) {
            left: -35px;
        }
    }
    .top-beer-swiper-button-next {
        right: -60px;
        @media (max-width: 1199px) {
            right: -20px;
        }
        @media (max-width: 767px) {
            right: -35px;
        }
    }
    .top-beer-swiper-pagination {
        @media (min-width: 1200px) {
            display: none;
        }
        @media (max-width: 1199px) {
            bottom: 0;
        }
        @media (max-width: 449px) {
            bottom: 10px;
        }
        .swiper-pagination-bullet {
            border-radius: 0;
            width: 50px;
            height: 5px;
            background-color: black;
            &-active {
                background-color: $red;
            }
            @media (max-width: 575px) {
                width: 35px;
                margin-right: 4px;
                margin-left: 4px;
            }
            @media (max-width: 449px) {
                width: 30px;
                height: 4px;
            }
            @media (max-width: 399px) {
                width: 25px;
                height: 3px;
                margin-right: 3px;
                margin-left: 3px;
            }
        }
    }
}